<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
 
<!-- 
When we use XML configuration, we define all the configuration and navigation in this file
But instead, we will use Java configuration
-->


<web-app>
  <display-name>Archetype Created Web Application</display-name>
</web-app>
